* {
	font-weight: 300;
}

html,
body {
	background: #4054e1;
	font: 16px 'Roboto', sans-serif;
}

h1 {
	color: #ffe38e;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-shadow: 2px 2px 2px #00139c;
	text-transform: uppercase;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 32px;
	line-height: 1.1;
}

h3 {
	color: black;
	font-size: 32px;
	font-weight: 400;
}

p {
	font-size: 19px;
}

span {
	display: inline-block;
	padding: 0 2px;
}

.underlined {
	border-bottom: 3px solid #ff80ab;
}

.highlighted {
	color: #ff80ab;
	font-weight: 400;
	letter-spacing: 1px;
	padding-bottom: 4px;
	text-shadow: 2px 2px 2px #00139c;
	transition: 1s;
}

.highlighted:hover {
	background: #ff80ab;
	color: #fff;
}

button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-progress-appearance: none;
	border: none;
	border-radius: 0;
	color: #fff;
	font-weight: 400;
	letter-spacing: 2px;
	outline: none;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: .3s;
}

button#get-directions {
	background: #00bf9a;
	border-bottom: 5px solid #009688;
	font-size: 19px;
	width: 100%;
}

button#find-start {
	background: #9899f8;
	border-bottom: 5px solid #8961c3;
	font-size: 17px;
	letter-spacing: 1.3px;
}

button#get-directions:hover,
button#get-directions:active,
button#get-directions:focus {
	background: #009688;
	cursor: pointer;
}

button#find-start:hover,
button#find-start:active,
button#find-start:focus {
	background: #8861c4;
	cursor: pointer;
}

input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-progress-appearance: none;
	background: #efefef;
	border: none;
	border-radius: 0;
	border-left: 5px solid #8861c4;
	font-size: 19px;
	padding: 10px;
	transition: .4s;
}

input:active,
input:focus {
	background: #e3e3ff;
	border-left: 5px solid #9799f8;
	outline: none;
}

#penguins {
	display: flex;
	align-items: center;
}

#penguins img {
	align-self: flex-end;
}

.p-icon-sm {
	height: 85px;
	width: 68px;
}

.p-icon-lg {
	height: 120px;
	width: 87px;
}

#travel-mode {
	background: #9899f8;
	font-size: 19px;
	border: 10px solid #9799f8;
}

#mode {
	margin-left: 15px;
}

strong {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 17px;
}

.line-h {
	background: #009587;
	transform: rotate(15deg);
	width: 4px;
}