* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	text-align: center;
	width: 100%;
}

#content {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: 100vh;
	min-height: 37.5rem;
	/* 600/16 */
	width: 100%;
}

#panel-container {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 100%;
	max-width: 950px;
	padding: 55px 30px 60px;
}

header {
	margin: 0 auto;
	max-width: 550px;
	/* 500/16 */
}

h1 {
	margin-bottom: 35px;
}

h2 {
	margin-top: 0;
}

#search-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: white;
	margin: 1.25rem 0;
	/* 20/16 */
	padding: 25px 70px 40px;
	/* 30/16 */
	border-radius: 1.25rem;
	/* 20/16 */
}

#penguins {
	display: flex;
	align-items: center;
}

h3 {
	margin-top: 10px;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 35px;
}

#location {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
}

input {
	flex: 1;
	margin-bottom: 10px;	
}

#find-start {
	flex: 1;
}

#directions {
	display: flex;
}

#map-container {
	background: grey;
	flex: 1;
	position: relative;
	width: 100%;
}

#map {
	width: 100%;
	height: 100%;
	min-height: 500px;
}

#travel-mode {
	width: 100%;
}

.line-h {
	display: none;
}

@media (min-width: 700px) {
	#location {
		flex-direction: row;
		margin-bottom: 25px;
	}
	input {
		margin-bottom: 0;
	}
	button {
		margin-right: 0;
	}
	.line-h {
		display: block;
	}
}