* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	text-align: center;
	width: 100%;
}

#content {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: 100vh;
	min-height: 37.5rem;
	/* 600/16 */
	width: 100%;
}

#panel-container {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	max-width: 950px;
	padding: 3.438rem 1.875rem 3.75rem;
	/* 55/16 30p/16 60/16 */
	width: 100%;
}

header {
	margin: 0 auto;
	max-width: 34.38rem
	/* 550/16 */
}

h1 {
	margin-bottom: 2.188rem;
	/* 35/16 */
}

h2 {
	margin-top: 0;
}

#search-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 1.25rem 0;
	/* 20/16 */
	padding: 1.563rem 1.563rem 1.563rem;
	/* 25/16 25/16 40/16; */
}

#penguins {
	align-items: center;
	display: flex;
}

#penguins img {
	align-self: flex-end;
}

.p-icon-sm {
	height: 85px;
	width: 68px;
}

.p-icon-lg {
	height: 120px;
	width: 87px;
}

h3 {
	margin-top: 0.625rem;
	/* 10/16 */
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 2.188rem;
	/* 35/16 */
}

#location {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.875rem;
	/* 30/16 */
	width: 100%;
}

input {
	flex: 1;
	margin-bottom: 0.625rem;
	/* 10/16 */
}

#find-start {
	flex: 1;
}

#directions {
	display: flex;
}

#map-container {
	flex: 1;
	position: relative;
	width: 100%;
}

#map {
	height: 100%;
	min-height: 31.25rem;
	/* 500/16 */
	width: 100%;
}

#travel-mode {
	width: 100%;
}

.line-h {
	display: none;
}

@media (min-width: 550px) {
	#search-container {
		padding: 1.563rem 4.375rem 2.5rem;
		/* 25/16 70/16 40/16 */
	}
}

@media (min-width: 750px) {
	#location {
		flex-direction: row;
		margin-bottom: 1.563rem;
		/* 25/16 */
	}
	input {
		margin-bottom: 0;
	}
	button {
		margin-right: 0;
	}
	.line-h {
		display: block;
		margin: -0.625rem 1.25rem;
		/* -10/16 20/16 */
	}
}